strong {
  position: relative;
  font-size: 14px;
  color: rgb(0, 0, 0);
}
strong::after {
    /* background-image: url("http://cptsvs52t/cip/icons/underline.svg"); */
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: -0.5rem;
    right: -0.5rem;
    height: 0.75rem;
    background-repeat: no-repeat;
    background-size: cover;
}
